body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #1d1f3a, #2c2f5c);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  width: 100%;
  max-width: 400px;
}

h1 {
  margin-bottom: 10px;
}

.money {
  margin-bottom: 20px;
  font-size: 20px;
}

/* Input */
input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
  font-size: 16px;
}

/* OK button */
.ok-btn {
  background: #00c853;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 25px;
}

.ok-btn:hover {
  background: #00b248;
}

/* Progress bar */
.progress-bar {
  width: 100%;
  height: 25px;
  background: #555;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
}

#bar {
  height: 100%;
  width: 0%;
  background: #00e676;
  border-radius: 20px;
  transition: 0.3s;
}

#character {
  position: absolute;
  top: -20px;
  left: 0%;
  transform: translateX(-50%);
  transition: 0.3s;
}

/* Reset κάτω στο κέντρο */
.reset-btn {
  background: #ff5252;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.reset-btn:hover {
  background: #ff1744;
}
